/* leveydet */
header, nav, div#container, button.textbutton {
	width: 60vw;
	margin: 0 auto;
}

@media screen and (max-width: 750px) {
	header, nav, div#container, button.textbutton {
		width: 90vw;
		margin: 0 auto;
	}
}

/* fontit */
body {
	font-size: 16px;
	font-family: sans-serif;
}

/* väritys */ 
body {
	background-color: #b2d6a9;
	color: #fff;
}

.listed a {
	color: #fff;
	transition: all 1s;
}

.listed a:hover { 
	font-weight: bold;
	font-size: 1.2em;
}

/* napit */
.topbutton, #exitbutton {
	border: 2px solid #fff;
	background-color: #b2d6a9;
	color: #fff;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	padding: 15px 15px;
	font-size: 2em;
}

.textbutton {
	border: 2px solid #fff;
	background-color: #b2d6a9;
	color: #fff;
	text-align: center;
	text-decoration: none;
	display: block;
	padding: 15px;
	font-size: 1.5em;
}

.addbutton {
	border: 2px solid #fff;
	background-color: #b2d6a9;
	color: #fff;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	padding: 15px 15px;
	font-size: 1.5em;
}

/* nappien asettelu */
.arrow-left {
	float: left;
}

.arrow-right {
	float: right;
}

#exitbutton {
	float: right;
}

h1 {
	clear: both;
}

/* navigaatio */
ul.nav {
	list-style: none;
	text-align: center;
}

ul.nav li {
	margin: 2em 2em;
	display: inline;
}

