<h1>Add New</h1>
<script src="moment.min.js"></script> 
<script src="combodate.js"></script>
<script src="addforms.js"></script> 
<form action="../add_new" method="POST">
	<!--Aattelin, että kun <ul>:n saa silleen kivasti linjattua samalle riville
		sekä paremmin säädetty mm. marginaalei sun muita, nythän se näyttää naurettavan
		rumalta! -->
	<input id="taskRadioButton" class="addRadioButton" type="radio" name="type" value="tasks">Task
	<input id="eventRadioButton" class="addRadioButton" type="radio" name="type" value="event">Event
	<input id="noteRadioButton" class="addRadioButton" type="radio" name="type" value="note">Note
	{{form}}
	
	<!--
	<select name="type">
		<option value="event">New event</option>
		<option value="task">New task</option>
		<option value="note">New note</option>
	</select><br>
	-->
	<input type="submit" value="Add" class="addbutton"><input type="reset" value="Reset fields">
</form>