<div id="eventForm" class="forms addpage">
    <!-- for event -->
    <p>Description:</br>
    <input type="text" name="desc"></p>
    <p>Starting date</br>
    <input type="date" name="startDate"></p>
    <p>Starting time</br>
    <input type="time" name="startTime"></p>
</div>