<div id="taskForm" class="forms addpage">
    <!-- for task -->
    <p>Description:</br>
    <input type="text" name="desc"></p>
    <p>Due date:</br>
    <input type="date" name="dueDate"></p>
</div>