<header>
	<a href="/previous">Prev</a>
	<a href="/next">Next</a>
	<!--
	<button class="arrow-left">&#x21D0;</button>
	<button class="arrow-right">&#x21D2;</button>
	-->
	<button class="arrow-left topbutton">&#x21D0;</button>
	<button class="arrow-right topbutton">&#x21D2;</button>
	<h1>{{title}}</h1>
	<h2>{{date}}</h2>
</header>
<nav>
	<ul class="nav">
		<li>Daily</li>
		<li>Weekly</li>
		<li>Monthly</li>
	</ul>
	<button id="add" class="textbutton">Add New</button>
</nav>


<div id="container">
	<div id="events" class="listed">
		<h3><a href="/event">Events</a></h3>
		{{events}}
	</div>
	<div id="tasks" class="listed">
		<h3><a href="/task">Tasks</a></h3>
		{{tasks}}
	</div>
	<div id="notes" class="listed">
		<h3><a href="/note">Notes</a></h3>
		{{notes}}
	</div>
</div>
