<h1>Modify</h1>

<form action="../modify_something" method="POST">
	
	<input type="date" id="date" name="date" min="2017-04-01" max="2041-04-30" required><br>
	
	<textarea name="input" rows="3" cols="50"></textarea><br>
	
	<input type="submit" value="Modify" class="addbutton"><input type="reset" value="Reset fields">
</form>