<!DOCTYPE html> 
<html> 
	<head> 
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="style.css">
		
		<title>Bulletjournal</title> 
	</head> 
	<body> 
		{{{body}}} 
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
		{{{_sections.jquery}}}
		<script src="main.js"></script>
	</body> 
</html> 