<!DOCTYPE html> 
<html> 
	<head> 
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="style.css">
		
		<title>Bulletjournal</title> 
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script> 
	</head> 
	<body> 
<<<<<<< HEAD
		<button id="exitbutton" class="">X</button>
		{{{body}}} 
=======
		<div id="container">
			<button id="exitbutton" class="">X</button>
		
			{{{body}}} 
		</div>
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script> 
>>>>>>> 716aadd41ef8d8fefd25f8609a48145feaa8ec32
		{{{_sections.jquery}}}
		<script src="main.js"></script>
	</body> 
</html> 